@page "/product/{id:int}"
@inject IProductService productService

@if(product is null)
{
    <span>@Message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@product.ImgUrl" alt="@product.Title"/>
        </div>
        <div class="media-body">

            <h2 class="mb-0">@product.Title</h2>

            <p>@product.Description</p>

            <h4 class="price">@product.Price</h4>

        </div>
    </div>
}

@code {
    private Product? product = null;

    [Parameter]
    public int Id { get; set; }

    private string Message = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        Message = "Loading Product";

        var result = await productService.GetProductById(Id);

        if (!result.Success)
        {
            Message = result.Message;
        }
        else
        {
            product = result.Data;
        }
    }
}
